<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header">
            {{heading}}
        </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Principal</a>
            </li>
            <li class="breadcrumb-item" *ngIf="previous">
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/'+previous]">{{previous}}</a>
            </li>
            <li class="breadcrumb-item" *ngIf="previous2">
                <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/'+previous2]">{{variable}}</a>
        </li>
            <li class="breadcrumb-item active"><i class="fa {{icon}}"></i> {{heading}}</li>
        </ol>
    </div>
</div>
