<ng-container>

    <div class="row">
      <div class="col text-right">
          <button 
              (click)="alta(content)"
              class='btn btn-primary'>
              <i class="fa fa-plus"></i>
              Agregar
          </button>
    
        </div>
    </div>
    <br>
    <hr>
  
    <!-- Data table -->
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Telefono </th>
          <th>Email </th>
          <th>Fecha de alta </th>
          <th>Acciones </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes; let i=index">
          <td>{{ i+1}}</td>
          <td>{{ paciente.nombre }}</td>
          <td>{{ paciente.edad }}</td>
          <td>{{ paciente.telefono }}</td>
          <td>{{ paciente.email }}</td>
          <td>{{ paciente.fecha_alta }}</td>
          <td>
              <button (click)="actualizar(paciente, content)"
                      class="btn btn-info mr-1">
                      <i class="fas fa-pen"></i>
                </button>
                <button 
                     (click)="borrar(paciente , i)"
                     class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
          </td>
        </tr>
      </tbody>
      </table>
    </ng-container>
  
    <!-- modal -->
    <ng-template #content let-c="close" let-d="dismiss">
        <form (ngSubmit)="guardar(formulario, content)"
        #formulario ="ngForm">
        <div class="modal-header text-center">
            <h4 class="modal-title">Usuario</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body">
          <div class="form-group ">
             <label>Nombre</label> 
              <input type="text"
                     class="form-control"
                     required
                     name="nombre"
                     [(ngModel)]="paciente.nombre"
                     placeholder="Nombre del consultorio">
          </div>
            <div class="form-group row">
              <label class="col-2 col-form-label">Edad</label>
              <div class="col-md-8">
              <input type="text"
                     class="form-control"
                     required
                     name="edad"
                     [(ngModel)]="paciente.edad"
                     placeholder="Edad">
              </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">FUM</label>
                <div class="col-md-8">
                <input type="text"
                       class="form-control"
                       required
                       name="fum"
                       [(ngModel)]="paciente.fum"
                       placeholder="FUM">
                </div>
              </div>

              <div class="form-group row">
                  <label class="col-2 col-form-label">FFP</label>
                  <div class="col-md-8">
                  <input type="text"
                         class="form-control"
                         required
                         name="ffp"
                         [(ngModel)]="paciente.ffp"
                         placeholder="FFP">
                  </div>
                </div>
            
            <div class="form-group ">
                <label>Estado civil</label> 
                 <input type="text"
                        class="form-control"
                        required
                        name="estado_civil"
                        [(ngModel)]="paciente.estado_civil"
                        placeholder="estado_civil">
             </div>
             <div class="form-group ">
                <label>Ocupacion</label> 
                 <input type="text"
                        class="form-control"
                        required
                        name="ocupacion"
                        [(ngModel)]="paciente.ocupacion"
                        placeholder="ocupacion">
             </div>
             <div class="form-group ">
                <label>Origen</label> 
                <input type="text"
                        class="form-control"
                        required
                        name="origen"
                        [(ngModel)]="paciente.origen"
                        placeholder="origen">
             </div>
               <div class="form-group ">
                  <label>Teléfono</label> 
                   <input type="text"
                          class="form-control"
                          required
                          name="telefono"
                          [(ngModel)]="paciente.telefono"
                          placeholder="Teléfono">
                 </div>
                 <div class="form-group ">
                    <label>Email</label> 
                     <input type="email"
                            class="form-control"
                            required
                            name="email"
                            [(ngModel)]="paciente.email"
                            placeholder="Email">
                </div>  
                <div class="form-group ">
                    <label>Refiere</label> 
                     <input type="text"
                            class="form-control"
                            required
                            name="refiere"
                            [(ngModel)]="paciente.refiere"
                            placeholder="Refiere">
                </div> 
                <div class="form-group">
                  <label>Municipio</label> 
                   <input type="text"
                          class="form-control"
                          name="municipio"
                          [(ngModel)]="paciente.municipio"
                          placeholder="municipio">
              </div>  
              <!-- conyugue -->
              <div class="form-group row">
                  <label class="col-2 col-form-label">Nombre</label>
                  <div class="col-md-8">
                  <input type="text"
                         class="form-control"
                         name="cnombre"
                         [(ngModel)]="paciente.conyugue.nombre"
                         placeholder="Nombre Conyugue">
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Ocupacion</label>
                    <div class="col-md-8">
                    <input type="text"
                           class="form-control"
                           name="ocupacion"
                           [(ngModel)]="paciente.conyugue.ocupacion"
                           placeholder="Ocupacion Conyugue">
                    </div>
                  </div>
              <div class="form-group" >
                <label>Imagen</label> 
                                  <!-- Standar Form -->
                                  <h4>Select files from your computer</h4>
                                  <div class="form-inline">
                                    <div class="form-group">
                                      <input type="file" name="imagen" 
                                      (change)="handleFileInput($event.target.files)">
                                    </div>
                                  </div>
                      
                                <!-- Drop Zone -->
                                <!-- <h4>Or drag and drop files below</h4>
                                <div class="upload-drop-zone" name="imagen" [(ngModel)]="imgUrl">
                                  Just drag and drop files here
                                </div> -->
     
            </div> 
          
          
  
  
  
        </div>
        <div class="modal-footer align-content-center">
            <button 
                    type="button" 
                    class="btn btn-secondary" 
                    (click)="c('Close click')">
                    Cerrar
            </button>
    
            <button [disabled]="!formulario.valid"
                    class="btn btn-primary"
                    type="submit">
                    <i class="fa fa-save"></i>
                     Guardar
           </button>
        </div>
      </form>
    </ng-template>
