<div [@routerTransition]>
    <app-page-header [heading]="'Agenda'" [icon]="'fa-desktop'"></app-page-header>

    <div class="form-group row">
      <label class="col-2 col-form-label">Consultorio</label>
      <div class="col-md-12">
          <select (change)="reloadCalendar($event)"  [(ngModel)]="idconsultorioUsr" class="form-control" name="id_consultorio">
            <option  *ngFor="let consultorio of consultorios"
                     [value]="consultorio._id">{{consultorio.nombre}}</option>
          </select>
      </div>
    </div>

<div class="container my-7">
<!-- <h1 class="text-center">Agenda</h1> -->
<hr>
  <full-calendar 
        
        [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'timeGridWeek,dayGridMonth,timeGridDay,listWeek'
        }"
        
        [businessHours]=" {
          daysOfWeek: [ 1, 2, 3, 4, 5, 6],
          startTime: '09:00',
          endTime: '19:00'
        }"
        
        [plugins]="calendarPlugins "
        (dateClick)="handleDateClick($event, content)"
        (select)="handleDateSelect($event, content)"
        (eventClick)="eventClick($event,content)"
        [buttonText]=" {
                    today: 'Hoy',
                    day: 'Día',
                    month: 'Mes',
                    week: 'Semana',
                    list: 'Agenda'
                }"
        themeSystem= 'bootstrap'
        timeZone= 'local'
        deepChangeDetection="true"
        locale='es'
        defaultView= 'timeGridWeek'

        [events]="calendarEvents"
        >
  </full-calendar>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <form 
    #formulario ="ngForm">
    <div class="modal-header text-center primary">
        <h4 class="modal-title">{{title}} cita</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
      <div class="form-group row">
        <label class="col-2 col-form-label">Paciente</label>
        <div class="col-md-12">
            <select class="form-control"
                    name="id_paciente"
                    [(ngModel)]="cita.id_paciente"
                    required>
              <option value="">Seleccione un paciente</option>
              <option  *ngFor="let p of pacientes"
                       [value]="p._id">{{p.nombre}}</option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Consultorio</label>
        <div class="col-md-12">
            <select class="form-control"
                    name="id_consultorio"
                    [(ngModel)]="cita.id_consultorio"
                    required
                    >
              <option value="" selected>Seleccione el consultorio</option>
              <option  *ngFor="let consultorio of consultorios"
                       [value]="consultorio._id">{{consultorio.nombre}}</option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Estatus</label>
        <div class="col-md-12">
            <select class="form-control"
                    name="status"
                    [(ngModel)]="cita.status">
              <option value="" selected>Seleccione el estatus</option>
              <option  *ngFor="let est of estatus"
                       [value]="est.status">{{est.status | uppercase}}</option>
            </select>
        </div>
      </div>
      
      <div class="form-group ">
        <label>Fecha</label>
         <input type="datetime-local"
                class="form-control"
                required
                name="fecha"
                [(ngModel)]= "cita.fecha">
       </div>

       
      
        <div class="form-group ">
            <label>Costo</label>
             <input type="text"
                    class="form-control"
                    required
                    pattern=""
                    name="costo"
                    [(ngModel)]="cita.costo"
                    placeholder="Costo">
           </div>
           <div class="form-group ">
            <label>Extra</label>
             <textarea type="text"
                    class="form-control"
                    [(ngModel)]="cita.extra"
                    name="extra"></textarea>         
           </div>
    <div class="modal-footer align-content-center">
        <button 
                *ngIf="!eliminar"
                class="btn btn-danger"
                (click)="eliminarCita(formulario)"
                type="submit">
                <i class="fa fa-trash"></i>
                 Eliminar
       </button>
        <button
                *ngIf="eliminar"
                type="button"
                class="btn btn-secondary"
                (click)="c('Close click')">
                Cerrar
        </button>
        <button
                [disabled]="!formulario.valid"
                class="btn btn-primary"
                type="submit"
                (click)="guardar(formulario)">
                <i class="fa fa-save"></i>
                 Aceptar
       </button>
    </div>
  </div>
  </form>
</ng-template>

</div>
