
<div class="container my-5">
  <full-calendar
        [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
        [plugins]="calendarPlugins"
        [events]="calendarEvents"
        (dateClick)="handleDateClick($event)"
        (eventClick)="eventClick($event,content)"
        [buttonText]=" {
                    today: 'Hoy',
                    day: 'Día',
                    month: 'Mes',
                    week: 'Semana',
                    list: 'Lista'
                }"
        [selectable]="true"
        >
  </full-calendar>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <form 
    #formulario ="ngForm">
    <div class="modal-header text-center">
        <h4 class="modal-title">Nueva cita home's</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
      <div class="form-group ">
         <label>Nombre</label>
          <input type="text"
                 class="form-control"
                 required
                 name="nombre"

                 placeholder="Nombre del consultorio">
        </div>


        <div class="form-group ">
            <label>Dirección</label>
             <input type="text"
                    class="form-control"
                    required
                    name="direccion"

                    placeholder="Dirección">
           </div>
           <div class="form-group ">
              <label>Teléfono</label>
               <input type="text"
                      class="form-control"
                      required
                      name="telefono"

                      placeholder="Teléfono">
             </div>

    </div>
    <div class="modal-footer align-content-center">
        <button
                type="button"
                class="btn btn-secondary"
                (click)="c('Close click')">
                Cerrar
        </button>

        <button
                class="btn btn-primary"
                type="submit">
                <i class="fa fa-save"></i>
                 Guardar
       </button>
    </div>
  </form>
</ng-template>
