<h1 class="text-center">Consultorios</h1>
<hr>
<div class="row">
  <div class="col text-right">
      <button 
          (click)="alta(content)"
          class='btn btn-primary'>
          <i class="fa fa-plus"></i>
          Agregar
      </button>

    </div>
</div>

<table *ngIf="!cargando && consultorios.length > 0"
    class="table table-bordered mt-3 animated fadeIn faster">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
      <th scope="col">horario</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let c of consultorios; let i=index ">
        <td>{{ i+1 }}</td>
        <td>{{ c.nombre }}</td>
        <td>{{ c.direccion }}</td>
        <td>{{ c.telefono }}</td>
        <td>{{ c.horario}}</td> 
        <td>
            <button (click)="actualizar(c, content)"
                    class="btn btn-info mr-1">
                    <i class="fas fa-pen"></i>
              </button>
              <button 
                   (click)="borrar(c , i)"
                   class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
        </td>
    </tr>
  </tbody>
</table>

<div *ngIf="cargando" 
class="alert alert-info text-center mt-3 animated fadeIn faster">
<h4>cargando</h4>
<p>
   <i class="fas fa-sync-alt fa-spin fa-2x"></i>
</p>
<p class="mb-0">
   Espere por favor
</p>
</div>

<div *ngIf="!cargando && consultorios.length === 0"
 class="alert alert-warning text-center mt-3 animated fadeIn faster">
   <h4>No hay registros</h4>
   <p>
       <i class="fas fa-exclamation fa-2x"></i>
   </p>
 
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <form (ngSubmit)="guardar(formulario, content)"
    #formulario ="ngForm">
    <div class="modal-header text-center">
        <h4 class="modal-title">Consultorio</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
        <div class="form-group" *ngIf="consultorio._id !== null">
            <label>id</label> 
             <input type="text"
                    class="form-control"
                    required
                    name="id"
                    disabled
                    [(ngModel)]="consultorio._id"
                    placeholder="Nombre del consultorio">
           </div>
        <div class="form-group ">
         <label>Nombre</label> 
          <input type="text"
                 class="form-control"
                 required
                 name="nombre"
                 [(ngModel)]="consultorio.nombre"
                 placeholder="Nombre del consultorio">
        </div>
        <div class="form-group ">
            <label>Dirección</label> 
             <input type="text"
                    class="form-control"
                    required
                    name="direccion"
                    [(ngModel)]="consultorio.direccion"
                    placeholder="Dirección">
           </div>
           <div class="form-group ">
              <label>Teléfono</label> 
               <input type="text"
                      class="form-control"
                      required
                      name="telefono"
                      [(ngModel)]="consultorio.telefono"
                      placeholder="Teléfono">
             </div>
             <div class="form-group ">
                <label>Horario</label> 
                 <input type="text"
                        class="form-control"
                        required
                        name="horario"
                        [(ngModel)]="consultorio.horario"
                        placeholder="Horario">
            </div>  
            <div class="form-group" *ngIf="consultorio._id !== null">
              <label>Fecha de alta</label> 
               <input type="text"
                      class="form-control"
                      disabled
                      name="fecha_alta"
                      [(ngModel)]="consultorio.fecha_alta"
                      placeholder="Horario">
          </div>  
          <div class="form-group" *ngIf="consultorio._id !== null">
            <label>Fecha de ultima actualiazación</label> 
             <input type="text"
                    class="form-control"
                    disabled
                    name="fecha_update"
                    [(ngModel)]="consultorio.fecha_update"
                    placeholder="Horario">
        </div>     
    </div>
    <div class="modal-footer align-content-center">
        <button 
                type="button" 
                class="btn btn-secondary" 
                (click)="c('Close click')">
                Cerrar
        </button>

        <button [disabled]="!formulario.valid"
                class="btn btn-primary"
                type="submit">
                <i class="fa fa-save"></i>
                 Guardar
       </button>
    </div>
  </form>
</ng-template>
