<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Unidad De Ginecologia</h1>
            <form role="form" #loginForm>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="email" placeholder="{{ 'User' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="pwd" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="onLoggedin(loginForm)">{{ 'Log in' | translate }}</a>
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin(loginForm)">{{ 'Log in' | translate }}</a> -->
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Registrar' | translate }}</a>
            </form>
        </div>
    </div>
</div>
