<div class="card-body">
    <div class="list-group">
        <a  href="javascript:void(0)" *ngFor="let cita of citas"  class="list-group-item clearfix d-block">
                <i class="fa fa-user fa-fw"></i> {{cita.nombrePaciente}} 
                <span class="float-none text-muted small"><em> {{cita.status}}</em></span>
                <span class="float-right text-muted small"><em>{{cita.fecha | date: 'MMMM d, y, h:mm a'}}</em></span>
            </a>
    </div>
    <a [routerLink]="['/agenda']" class="btn btn-default btn-block">Reagendar o cancelar citas</a>
</div>
