<div class="row">
    <div class="col-md-8">
        <div class="row m-2">
                <h2 class="display-4">Bienvenida <b>{{paciente.nombre}}</b> </h2>
        </div>
        <br>
        <div class="row m-2">
                        <ul class="list-group">
                                <li  class="list-group-item text-muted">Tus ulltimas consultas al médico son: <i class="fa fa-clock-o fa-1x"></i></li>
                                <li *ngFor="let item of lastvisitas" class="list-group-item text-right"><span class="pull-left"><strong class="m-2">{{item.fecha | date: 'MMMM d, y, h:mm a'}}</strong></span> {{item.motivo}}</li>
                        </ul> 
    
        </div>
        <div class="row">
                <div class="col text-end">
                               
                </div>
                <button type="button" (click)="gotoExpediente()" class="btn btn-dark">Consulta tu expediente clínico</button> 
        </div>
        <div class="row m-2"> 
                <div *ngIf="cita != null" class="card">
                        <h4 class="card-header">{{ 'Next Appointment' | translate }}</h4>
                        <div class="card-body">
                                <h5 class="card-title">{{cita.fecha | date: 'MMMM d, y, h:mm a'}}</h5>
                                <p class="card-text">Consultorio</p>      
                        </div>
                </div>
        </div>
       
    </div>
 <div class="col-md-4">
        <img src="../../../assets/images/silhueta-1.png" alt="" >
 </div>
</div>
