<app-page-header [previous2]="'pacientes/consultas-medicas/'+visita.id_paciente" [variable]="'pacientes/consultas-medicas'" [heading]="'Consulta Medica'" [icon]="'fa-desktop'">
</app-page-header>
<div class="row">

  <div class="col md-8">
     <div class="row mb-1">

      <div class="col-md-6 mb-3" *ngFor="let item of files; let i=index" >
          <div class="card" >
              <div class="card-header">
                <p><strong>Nombre del archivo: </strong>{{item.name}}</p>
                  </div>
                    <div class="card-body">
                      <img  *ngIf="visita.tipoFile[i] === 'application/pdf'" src="../../../../assets/images/logoPDF.png" alt="">
                      <img *ngIf="visita.tipoFile[i] === 'text/plain'" src="../../../../assets/images/logoTXT.png" alt=""> 
                      <img *ngIf="(visita.tipoFile[i] === 'image/png') || visita.tipoFile[i] === 'image/jpeg'" src="../../../../assets/images/logoImg.png" alt=""> 
                    </div>  
                    <div class="card-footer">
                        <button type="button"
                          class="btn btn-primary bt-xs"
                            (click)="descargar(item)">
                          <i class="fa fa-download"></i> 
                        </button>
                        <!-- <button type="button"
                          class="mx-2 btn btn-dark bt-xs"
                          (click)="preview(item)">
                          <i class="fa fa-eye"></i> 
                        </button> -->
                    </div>  
          </div>
      </div>
</div>
    
    </div>

    <div class="col-4">
       <!-- <iframe *ngIf="ver" [src]="ruta" frameborder="0"></iframe> -->
       <h5 class="text-center">Subir Adjunto</h5>
       <div class="uploadfilecontainer" (click)="fileInput.click()" appNgDropFiles (onFileDropped)="uploadFile($event)">
          <input hidden type="file" multiple="true" #fileInput (change)="uploadFile($event.target.files)">
       </div>
      </div>
  </div>