<app-page-header [previous]="'pacientes'" [heading]="'Consulta Medica'" [icon]="'fa-desktop'">
</app-page-header>

<div class="row">

  <div class="col-6">
     
        <div  *ngFor="let item of files; let i=index">
            <div class="card">
                <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                <div class="card-body">
                  <h4 class="card-title"><strong>Nombre del archivo: </strong>{{item.name}}</h4>
                  <p class="card-text"><strong>Tamaño </strong>{{item.size}}</p>
                  <p class="carda-text">
                  <button type="button"
                    class="btn btn-primary bt-xs"
                     (click)="descargar(item)">
                    <i class="fas fa-download"></i> 
                  </button>
                  <button type="button"
                    class="mx-2 btn btn-dark bt-xs"
                    (click)="preview(item)">
                    <i class="fas fa-eye"></i> 
                  </button></p>
                </div>   
      </div>

      <div class="col">

       <iframe *ngIf="ver" [src]="ruta" frameborder="0"></iframe>

      </div>
  </div>

</div>